.header{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    overflow: hidden;
    background-image: url('../../Imgs/one.png');
    background-size: 80vw 100vh;
    background-repeat: no-repeat;
}

.headerLeft{
   display: flex;
   flex-direction: column;
   margin: auto auto;
}


.headerText{
    color: #00859B;
    font-weight: 700;
    font-size: x-large;
    width: 100%;
    background-color: transparent;
    margin-bottom: 3vh;
}
.headerButton{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #00859B;
    height: 7vh;
    width:16vw;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding-top: 4vh;
    margin-left: 8vw;
}
